{% extends "base.html" %}
{% load static %}
{% block title %} D&D {% endblock title %}
{% block conteudo %}
    <div class="container">
      <h1 class="my-5">Selecionar Personagem</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for personagem in personagens %}
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" src="{{ personagem.caminho_img }}" alt="" srcset="">
            <div class="card-body">
              <h5 class="card-title">{{ personagem.nome }}</h5>
              <p class="card-text">Raça: {{ personagem.ficha.raca }}</p>
              <a
                href="/aventura?id={{personagem.id}}"
                class="btn btn-primary"
                >Selecionar</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    {% endblock conteudo %}